{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <h1>About</h1>
        <img class="myimage" src="{% static 'images/BADY1.jpg' %}" alt="">
    <div class="Pgraph">
        <h5>E-Scheduler is an intuitive, user-friendly scheduling platform designed to streamline and optimize the way
            individuals and organizations manage their appointments, events, and tasks. Whether you're a busy professional,
            a small business owner, or part of a large corporation, E-Scheduler simplifies the process of scheduling and
            organizing meetings, appointments, and events with just a few clicks. </h5>
    </div>
{% endblock content %}