{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <h1>About</h1>
    <div class="image-container">
        <img class="grid-img" src="{% static 'images/BUN.jpg' %}" alt="">
        <img class="grid-img" src="{% static 'images/BADY.jpg' %}" alt="">
        <img class="grid-img" src="{% static 'images/MEH.jpg' %}" alt="">
    </div>
    <div class="Pgraph">
        <h5>Welcome to my Website! I am Bradley A. Roduta, An I.T Student, dedicated to learn and gain more knowledge in the world of Technology.
        I aim to become a professional in the IT industry and dedicate myself to making a meaningful impact on our world.
        I’m excited to share my insights and creativity with you. Let’s embark on this journey together! </h5>
    </div>
{% endblock content %}