{% extends 'app/base.html' %}

{% block content %}
    <h1>Contacts</h1>
    <div class="Icons-container">
            <h5>For more informations you can contact me with my social media accounts below!</h5>
            <div class="Icons">
                <i class="fa-brands fa-facebook"></i>
                <a href="https://www.facebook.com/profile.php?id=100085521969857">: Bradley A. Roduta</a>
                <br><br>
                <i class="fa-brands fa-instagram"></i>
                <a href="https://www.instagram.com/grow.upbady/">: grow.upbady</a>
                <br><br>
                <i class="fa-brands fa-github"></i>
                <a href="https://github.com/bradleyroduta26">: bradleyroduta26</a>
            </div>
    </div>
{% endblock content %}