{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <h1>" 良い一日 "</h1>
    <p>[ Good Day! ]</p>
    <img class="myimage" src="{% static 'images/BRAD.png' %}">
    <div class="Pgrap">
        <h5>Hello! My name is Bradley A. Roduta, and I am an Information Technology student passionate about exploring the ever-evolving world of technology.
        With a keen interest in programming, cybersecurity, and network management, I am excited to deepen my knowledge and skills in these areas.
        I believe that technology has the power to transform lives and industries, and I am eager to contribute to this dynamic field. Join me as I navigate my journey through IT,
        sharing insights and experiences along the way!</h5>
    </div>
{% endblock content %}