{% extends 'app/base.html' %}
{% load static %}
{% block content %}
    <h1></h1>
    <img class="myimage" src="{% static 'images/BRAD.jpg' %}">
    <div class="Pgrap">
        <h5>Welcome to E-Scheduler!</h5>
            <h5>
            Thank you for visiting our platform! E-Scheduler is designed to simplify and optimize the way you manage
            your time, appointments, and tasks. Whether you're scheduling meetings, organizing personal events,
            or coordinating with a team, E-Scheduler provides an intuitive and user-friendly interface to help you stay
            on top of your busy life.
            With features like automatic reminders, real-time updates, and seamless integrations, E-Scheduler is here
            to ensure you never miss an important event. Start managing your schedule more efficiently today and
            experience the future of time management.
            We’re excited to have you on board and look forward to helping you achieve your productivity goals!</h5>
    </div>
{% endblock content %}